<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <ng-container *ngFor="let product of products; let i = index">
      <li data-target="#carouselExampleIndicators" data-slide-to="i" [class.active]="i === 0"></li>
    </ng-container>
  </ol>
  <div class="carousel-inner">
    <ng-container *ngFor="let product of products; let i = index">
      <div class="carousel-item" [class.active]="i === 0">
        <img class="d-block w-100" src="https://via.placeholder.com/800x300/{{ product.imageColor }}/000000?text={{ product.title }}" alt="{{ product.title }}">
      </div>
    </ng-container>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
