<form class="form-inline">
  <input 
    class="form-control mr-sm-2"
    [class.br-0]="showResults"
    type="search"
    placeholder="Search"
    aria-label="Search"
    (focus)="onFocus()"
    (input)="onInput($event)"
    (blur)="closeList()"
  >
  <ng-container *ngIf="showResults">
    <div class="form-control search__results">
      <ul class="search__list">
        <li 
          *ngFor="let country of sortCountries"
          class="search__item"
          (click)="findCountryThours(country)"
        >{{ country.name }}</li>
      </ul>
    </div>
  </ng-container>
</form>

