<form class="form-inline">
  <input 
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    (focus)="onFocus()"
    (input)="onInput($event); showResults === true;"
  >
  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
<ng-container *ngIf="showResults === true">
  <div style="width: 100px; height: auto;">
    <ul *ngFor="let country of sortCountries">
      <li style="margin-bottom: 10px;">{{ country.name }}</li>
    </ul>
  </div>
</ng-container>
