.form-group {
  display: flex;
  position: relative;
  background: #fff;
  padding: .375rem .75rem;
  padding-top: 1rem;
  border-right: 1px solid #dceaef;

  label {
    position: absolute;
    top: -0.7rem;
    left: .1rem;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.09;
    color: #9b9b9b;
    margin-bottom: 0;
  }

  .form-control {
    line-height: 1;
    min-width: 100%;
    height: auto;
    outline: none;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
.form-group.active {
  background-color: #e8edf0;
  .form-control {
    background-color: #e8edf0;
  }
}
.advanced-params {
  margin-top: -16px;
  background: #fff;
  box-shadow: 0 10px 12px -5px rgba(0,0,0,.175);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 99999;
  width: 150%;
  max-height: 300px;
  overflow: auto;
}