.search__form_top {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.city-selection {
  background-color: #fff;
  padding: 0 16px;
  line-height: 38px;
  height: 40px;
  width: fit-content;
  border-bottom: 1px solid #dceaef;
  border-radius: 4px 4px 0 0;
  color: #4a4a4a;
  font-size: 14px;
}
.departure-city {
  border: 0;
  outline: none;
  border-bottom: 1px dashed blue;
  cursor: pointer;
  height: 20px;
}
.svg-control {
  height: 17px;
}
.save-button {    
  width: 15%;
  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 100%;
  }
}
.search__input {
  position: relative;
}
.search__input_country,
.search__input_date {
  width: 22.5%;
}
.search__input_nigth {
  width: 25%;
}
.search__input_people {
  width: 10%;
}

.country-check-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.country-label {
  width: calc(100% - 25px); 
}

.country-input {
  width: 20px;
  margin-right: 5px;
}

.advanced-params_night {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  line-height: 22px;
}
.range-nigth-title {
  padding-top: 10px;
  .buttons-night {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    line-height: 1;
    border: 0;
    cursor: pointer;
    margin: 0 3px;
    padding: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #007ad9;
  }
  .buttons-night.disabled {
    cursor: not-allowed;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.8;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: #00467c;
    }
  }
}

.advanced-params__tourists {
  display: flex;
  align-items: flex-end;
}
.tourists__grown {
  cursor: pointer;
  height: 50px;
}
.tourists__baby {
  cursor: pointer;
  height: 30px;
  margin: 0 15px;
}
.tourists__baby path,
.tourists__grown path {
  transition: all 0.3s linear;
  fill: #6495ED;
}
.tourists__baby:hover path,
.tourists__grown:hover path {
  fill: rgb(12, 43, 99);
}

:host ::ng-deep {
  p-calendar {
    .ui-datepicker {
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .ui-datepicker table td {
      padding: 0;
      a {
        border-radius: 0;
      }
    }
  }
}