.search__form_top {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.city-selection {
  background-color: #fff;
  padding: 0 16px;
  line-height: 38px;
  height: 40px;
  width: fit-content;
  border-bottom: 1px solid #dceaef;
  border-radius: 4px 4px 0 0;
  color: #4a4a4a;
  font-size: 14px;
}
.departure-city {
  border-bottom: 1px dashed blue;
  cursor: pointer;
}
.svg-control {
  height: 17px;
}
.save-button {    
  width: 15%;
  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 100%;
  }
}
.search__input {
  position: relative;
}
.search__input_country,
.search__input_date {
  width: 22.5%;
}
.search__input_nigth {
  width: 25%;
}
.search__input_people {
  width: 10%;
}