<section style="display: flex; flex-wrap: wrap;">
        <div>
                <h2>{{ currentProduct.title }}</h2>
                <img src="http://placehold.it/{{ 120*(currentProduct.id+1) }}x320">
        </div>
        <div class="descr" style="width: 200px">
                <a href="javascript:void(0)" (click)="loadChat(currentProduct.seller)">{{ currentProduct.seller }}</a>
                <h4>Aboute product</h4>
                <div>{{ currentProduct.description }}</div>
        </div>
</section>