body {
    padding-top: 70px;
}
.search-background {
    padding-top: 20px;
    // background-image: url();
    background: cadetblue;
}
.caption {
    height: 130px;
    overflow: hidden;
    h4 { white-space: nowrap }
}
.thumbnail {
    padding: 0;
    padding: 9px;
    color: #333;
    img { width: 100% }
}
.caption-full {
    padding: 9px;
    color: #333;
}
footer {
    margin: 50px 0;
}
.starrating.glyphicon-star {
    margin-right: 4px;
}
